<div class="product-list">
    {{#each prod as | category |}}
        <h3 class="category-name">{{@key}}</h3>
        <div class="category">
            {{#each category as |p|}}
                <div class="product-item">
                <img src={{p.imageUrl}} alt="">
                <h4>Product Name: {{p.name}}</h4>
                <h4>Product Price: {{p.price}}</h4>
                <div class="button-group">
                    <a href="/shop/cart/add/{{p._id}}">
                    <button>Add To Cart</button>
                </a>

                <a href="/shop/products/{{p._id}}">
                    <button>Details</button>
                </a>
                </div>
        </div>
            {{/each}}
        </div>
    {{/each}}
    </div>